/*
* typography
*   注) table は定義していない
*/
/** New Tegomin */
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
/** Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Sans+JP:wght@100&display=swap');
/** Shippori Mincho */
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Sans+JP:wght@100&family=Shippori+Mincho:wght@500&display=swap');

* {
  font-family: 'Shippori Mincho', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
  font-kerning: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /** 特殊な文字 */
  font-variant-ligatures: common-ligatures;
  /** ハイフン */
  -ms-hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  line-height: 1.7;
}

body {
  margin: 0;
  background-color: #fef8e7;
  color: #2f3846;
}

@media screen and (min-width: 60em) {
  body {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 120em) {
  body {
    font-size: 1.375rem;
  }
}

/** 非表示 */
*[aria-hidden='true'] {
  display: none;
}

/** 要素のフォントサイズ */
h1 {
  font-size: calc(0.8rem + 3.2vmin);
  font-variant-numeric: lining-nums;
  line-height: 1;
  text-align: center;
}
h2 {
  font-size: calc(0.5rem + 2.3vmin);
  font-variant-numeric: lining-nums;
  line-height: 1.1;
}
h3 {
  font-size: calc(1rem + 0.6vmin);
  font-variant-numeric: lining-nums;
  line-height: 1.2;
}
h4,
h5,
h6 {
  font-size: calc(1rem + 0.3vmin);
  font-variant-numeric: lining-nums;
  line-height: 1.3;
}
p {
  font-variant-numeric: oldstyle-nums; /** 1回拡大すると表示がおかしくなる */
}

p + p {
  margin-top: 0;
}

/** サンクンキャップ */
article p:first-of-type::first-letter {
  initial-letter: 3 2;
}

/** フルーロン */
hr {
  height: calc(2em + 1.6vmin);
  border: 0;
  margin: 4.5em auto;
  background: url('src/assets/icons/fleuron.svg') center no-repeat;
  background-size: contain;
  content: '#10086';
}

/** リストの初期化 */
ol {
  padding-left: 0;
  margin-left: 0;
  counter-reset: initialized-list;
  list-style: none;
}

ol li::before {
  margin-right: 1em;
  margin-left: -1.5em;
  content: counter(initialized-list);
  counter-increment: initialized-list;
}

/** リンク */
a {
  border-bottom: 1px solid #e0c3ac;
  text-decoration: none;
  outline-color: #729168;
}

@supports (text-decoration-skip-ink: auto) {
  a {
    border-bottom: 0;
    text-decoration: underline solid #e0c3ac;
    text-decoration-skip-ink: auto;
  }
}

button {
  outline-color: #729168;
}
button:focus-visible {
  outline-style: double;
  outline-width: 0.25rem;
}
input {
  outline-color: #729168;
}
input:focus-visible {
  outline-style: double;
  outline-width: 0.25rem;
}

/** 上つき文字／下つき文字 */
sub {
  font-feature-settings: 'subs' 1;
}
@supports (font-variant-position: sub) {
  sub {
    font-feature-settings: normal;
    font-variant-position: sub;
  }
}
@supports ((font-variant-position: sub) or (font-feature-settings: 'subs' 1)) {
  sub {
    font-size: inherit;
    vertical-align: baseline;
  }
}
sup {
  font-feature-settings: 'sups' 1;
}
@supports (font-variant-position: super) {
  sup {
    font-feature-settings: normal;
    font-variant-position: super;
  }
}
@supports (
  (font-variant-position: super) or (font-feature-settings: 'sups' 1)
) {
  sup {
    font-size: inherit;
    vertical-align: baseline;
  }
}

/** 約物 */
blockquote {
  position: relative;
  text-align: center;
}
blockquote::before {
  margin-left: -0.6ch;
  content: '&ldquo';
}
blockquote::after {
  margin-right: -1.1ch;
  content: '.&rdquo';
}

/** 記事レイアウト */
article {
  width: 100%;
  max-width: min(38em, calc(100% - 48px));
  margin-right: auto;
  margin-left: auto;
}
article p {
  margin-bottom: 1.7em;
  color: #28303c;
  text-indent: 1.5em;
}
aside {
  margin: 1em;

  @media only screen and (min-width: 60em) {
    width: 10em;
    margin-top: 0;
    margin-left: -11em;
    float: left;
  }

  @media only screen and (min-width: 49em) {
    width: 10em;
    margin-top: 0;
    margin-left: -5em;
    float: left;
  }
}
article details {
  margin-bottom: 1.7em;
}
article details > p {
  margin-bottom: 0;
  margin-left: 1.125em;
  font-size: 0.9em;
}
article details > p + p {
  margin-top: 0.5625em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
